
$white:#ffffff;
$latobold:'../fonts/Lato-Bold';
$latosemibold:'../fonts/Lato-Semibold';
$latolight:'../fonts/Lato-Light';
$latolightitalic:'../fonts/Lato-LightItalic';
$latosemibolditalic:'../fonts/Lato-SemiboldItalic';
$latoregular:'../fonts/Lato-Regular';


